.statusMessage {    display: none;
                    max-width: 750px;
                    margin: 0 auto;
                    padding: 12px;
                    margin-top: 12px;
               }

.warning       {    position: absolute;
                    background: #efefef;
                    padding: 12px;
                    border-radius: 10px;
                    -webkit-border-radius: 10px;
                    -moz-border-radius: 10px;
                    max-width: 400px;
                    border: 1px solid #4c4c4c;
               }

.warning:after,
.warning:before
               {    bottom: 100%;
                    left: 5%;
                    border: solid transparent;
                    content: " ";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;
               }

.warning:after {    border-color: rgba(255, 255, 255, 0);
                    border-bottom-color: #efefef;
                    border-width: 10px;
                    margin-left: -10px;
               }

.warning:before
               {    border-color: rgba(76, 76, 76, 0);
                    border-bottom-color: #4c4c4c;
                    border-width: 11px;
                    margin-left: -11px;
               }